<a href="https://colab.research.google.com/github/lalitha7571/Assignments/blob/master/pythonAssignmnet2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Write a program which accepts a sequence of comma-separated numbers from console  and generate a list

In [ ]:
val = input("Enter the elements seperated by ','")
list = val.split(",")
tuple = tuple(list)
print("List",list)
print("tuple",tuple)

Enter the elements seperated by ','1,a,D,&,*
List ['1', 'a', 'D', '&', '*']
tuple ('1', 'a', 'D', '&', '*')

In [ ]:
n=5;
for i in range(n):
    for j in range(i):
        print ('* ', end="")
    print('')

for i in range(n,0,-1):
    for j in range(i):
        print('* ', end="")
    print('')

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [10]:
word = input("Input a word to reverse: ")

for char in range(len(word) - 1, -1, -1):
  print(word[char], end="")
print("\n")

Input a word to reverse: ineuron
norueni